/* CSS Document */

.header {
         height: 100px;
		 border: #003399 double 2px;
		 background: #CCCC66;
		 text-align:center;
		 font:Verdana, Arial, Helvetica, sans-serif;
		 font-size: 21px;
		 }
		 

	 
.continut {
         
		   border: #003399 double 2px;
		   background: #CCCC99;
		   text-align:left;
		   font-size: 16px;
		   font:Verdana, Arial, Helvetica, sans-serif;
		   line-height: 30px;
		   }
		   
body {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}






.footer {
         height: 100px;
		 border: #003399 double 2px;
		 background: #CCCC66;
		 text-align:center;
		 font:Verdana, Arial, Helvetica, sans-serif;}
		 